<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking System</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>

<nav>
    <ul class="nav-links">
        
        <h1 class="brand">
            <a href="https://www.thesparksfoundationsingapore.org/">THE SPARKS FOUNDATION</a>       
        </h1>
		
        <li class="link"><a href="/">HOME</a></li>
        <li class="link"><a href="/view">VIEW CUSTOMERS</a></li>
        <li class="link"><a href="/history">TRANSACTION HISTORY</a></li>
        <li class="about"><a href="/About">ABOUT</a></li>
    </ul>
</nav>