<%- include("partials/header") %>
<div class ='container'>
	<div class ='content'>
     
	<h1 class="about-content">
		 

		The Sparks Foundation Internship Project: Basic Banking System </h1>

		<h2 class="about-content">A Web Application used to transfer money between multiple users (Project contains 10 dummy users). 
		
			Stack used - Front-end : HTML, CSS, Bootstrap & Javascript Back-end : mongodb Database : mongoose
			
			Database contains two Tables- Users Table & Transaction Table
	</h2>
		
		
		
    
	<h2 class="about-content">CREATED BY - UMRAH </h2>

 <!-- <button class='submit'><a href="/view"></a>Get Started</button> -->
</div>
</div>
	
<%- include("partials/footer") %>
